@define-color accent #fb817a;
@define-color urgent #fae3b0;

window.Bar {
  color: white;
  background: transparent;
  font-family: "Fira Sans Book", "Nerd Fonts";
}

.accent {
  color: #{"@accent"};
}
