window.Bar {
  min-height: 30px;

  button {
    border: none;
    border-radius: 0;
    padding: 0;
    min-height: 0;
    min-width: 0;
    color: inherit;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
  }

  .Workspaces button {
    min-width: 16px;
    padding: 0 2px;

    &.active {
      color: #{"@accent"};
    }
  }

  .WindowMap {
    .tile {
      border-radius: 1px;
      background-color: rgba(255, 255, 255, 0.25);
      transition: background-color 180ms ease-out;

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }

      &.focused {
        background-color: #{"@accent"};
      }

      &.urgent {
        background-color: #{"@urgent"};
      }
    }
  }

  .Clock,
  .Cpu {
    padding: 0 4px;
  }
}
