window.Bar {
  min-height: 30px;

  button {
    border: none;
    border-radius: 0;
    padding: 0;
    min-height: 0;
    min-width: 0;
    color: inherit;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
  }

  .Workspaces button {
    min-width: 16px;
    padding: 0 2px;

    &.active {
      color: #{"@accent"};
    }
  }

  .Clock,
  .Cpu {
    padding: 0 4px;
  }
}
