blur {
    passes 2
    offset 3.0
    noise 0.02
    saturation 1.0
}

layer-rule {
    match namespace="notifications"
    match namespace="vicinae"
    background-effect {
        blur true
        xray false
    }
}

window-rule {
    background-effect {
        blur true
        xray false
    }
}
