#browser:not(.browser-toolbox-background) {
  background-color: var(--user-chrome-background-color) !important;
  background-image: none !important;
}

:root {
  --user-chrome-background-color: rgba(0, 0, 0, 0.36);
  --tabpanel-background-color: transparent !important;
  --tab-selected-bgcolor: rgba(66, 65, 77, 0.4) !important;
  --toolbox-background-color: transparent !important;
  --toolbox-background-color-inactive: transparent !important;
  background: transparent !important;
}

#navigator-toolbox {
  background-color: var(--user-chrome-background-color) !important;
}

#sidebar-container,
#sidebar-launcher-splitter {
  background-color: transparent !important;
}

#sidebar-container[sidebar-launcher-expanded] {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

#urlbar-background,
#searchbar {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
#urlbar[open="true"] > #urlbar-background {
  background-color: rgb(255, 255, 255) !important;
}
